body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url("poaching1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.9;
}

header {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: justify;
}

.upload-section {
  margin-bottom: 20px;
}

.upload-section h2 {
  margin-top: 0;
}

#video {
  max-width: 100%;
  height: auto;
}

.video-section {
  display: none;
}

footer {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
